<!DOCTYPE HTML>

<html xmlns:th="https://thymeleaf.org">    

<head>
	<title> Product-list</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="container p-3 my-3 bg-success border">
	<form action="/" method="post">
      <input type="submit" value="home" />
    

    </form> 
    </div>
 <div class="container p-3 my-3 bg-danger border">
    <form action="/logout" method="post">
      <input type="submit" value="Logout" />
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

    </form>
    </div>
    	 		<div class="container p-3 my-3 bg-success border">
    			 
    			<!--  <form action="/products/generatePdf" method="post"> -->
    			 
    			 <a th:href="@{/products/generateXLS}" >
			    
			    <button type="button" >Generate Excel</button>
			    
			    </a>
			    
			     <a th:href="@{/products/generatePDF}" >
			    
			    <button type="button" >Generate PDF</button>
			    
			    </a>
			    
			   
			   		    
			    </div>
    

	<h3>Products</h3>
	
	<div class="container">
	<hr>
		<table  class="table table-bordered table-striped">
			<thead class  ="thead-dark">
				<tr>
					<th>  Name</th>
					<th> Company</th>
					<th>Volume</th>
					<th>Metric</th>
					<th>Barcode</th>
					<th>Price</th>
					<th>Stock</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${products}">
					
					<td th:text="${product.p_name}"/>
					<td th:text="${product.p_company}"/>
					<td th:text="${product.p_volume}"/>
					<td th:text="${product.p_metric}"/>
					<td th:text="${product.p_barcode}"/>
					<td th:text="${product.product_details}"/>
					
					
					<td th:text="${product.product_details}"/>
						
				
				</tr>
			
			</tbody>
		</table>
		
		</div>

</body>




</html>
